<!-- フッター -->
<footer class="footer">
  <div class="footer__nav">
    <ul class="footer__nav-list">
      <li><a href="<%= root_path %>">HOME</a></li>
      <li><a href="<%= new_house_path %>">NEW HOUSE</a></li>
      <li><a href="<%= renovation_path %>">RENOVATION</a></li>
      <li><a href="<%= exterior_path %>">EXTERIOR</a></li>
      <li><a href="<%= example_path %>">WORKS</a></li>
      <li><a href="<%= contact_path %>">CONTACT</a></li>
    </ul>
  </div>

  <div class="footer__sns">
    <a href="#"><img src="<%= asset_path('footer/icon-youtube.svg') %>" alt="YouTube" class="footer__sns-icon"></a>
    <a href="#"><img src="<%= asset_path('footer/icon-instagram.svg') %>" alt="Instagram" class="footer__sns-icon"></a>
    <a href="#"><img src="<%= asset_path('footer/icon-facebook.svg') %>" alt="Facebook" class="footer__sns-icon"></a>
  </div>

  <div class="footer__bottom-row">
    <div class="footer__logo-bg">
      <!-- ロゴ画像を入れる場合ここにimgタグ -->
      <!-- <img src="path/to/logo.svg" alt="ロゴ"> -->
    </div>
    <div class="footer__policy">
      <a href="/privacy">プライバシーポリシー</a>
      <a href="/terms">利用規約</a>
    </div>
  </div>

  <div class="footer__pagetop">
    <a href="#hero" class="page-top-btn">▲</a>
  </div>

  <div class="footer__copyright">
    © 2025 リフォームの山田. All rights reserved.
  </div>
</footer>